.main{
    background-color: rgb(243, 235, 233);
}

.navbar img {
    height: 5rem;
    width: 15rem;
}

.card {
    width: 25rem;
    margin: 5rem ;
}
.footer{
    background-color: rgb(243, 235, 233);
}
