*{
    font-family: sans-serif;
    box-sizing: border-box;
}



.main img{
    height: 35rem;
    width: 50rem;
}

.body {
    background-color: rgb(243, 235, 233);
}

.logo img{
    height: 4rem;
    width: 10rem;
    margin-bottom: 5px  ;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 4rem;
}

.logout  {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
}
a:hover {
    color: white;
}

.nav-link{
    color: blanchedalmond;
}
.table tbody tr td img{
    height: 5rem;
    width: 5rem;
}